# COMSE6998_015 Project Results Analysis

In [1]:
import json

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [66]:

# Reading the JSON file
game24_bfs = "logs/game24/gpt-4o_0.7_propose1_value3_greedy3_start900_end915_bfs.json"
game24_dfs = "logs/game24/gpt-3.5-turbo_0.7_propose1_value3_greedy3_start900_end915_dfs_1.json"

sudoku_bfs = "logs/sudoku/gpt-4o_0.7_propose1_value3_greedy3_start0_end15_bfs.json"
sudoku_dfs = "logs/sudoku/gpt-4o_0.7_propose1_value3_greedy3_start0_end15_dfs_1.json"

with open(sudoku_bfs, "r") as file:
    sudoku_results_bfs = json.load(file)

with open(sudoku_dfs, "r") as file:
    sudoku_results_dfs = json.load(file)

with open(game24_bfs, "r") as file:
    game24_results_bfs = json.load(file)

with open(game24_dfs, "r") as file:
    game24_results_dfs = json.load(file)

In [67]:
def calculate_results(results):
    results_df = pd.DataFrame(results)
    results_df["completion_tokens"] = results_df["usage_so_far"].apply(lambda x: x["completion_tokens"])
    results_df["prompt_tokens"] = results_df["usage_so_far"].apply(lambda x: x["prompt_tokens"])
    results_df["cost"] = results_df["usage_so_far"].apply(lambda x: x["cost"])
    results_df.drop(["steps", "ys", "infos", "cnt_avg", "usage_so_far"], axis=1, inplace=True)
    results_df = results_df[[
        'idx', 
        'generate_time', 
        'evaluate_time', 
        'total_time', 
        'num_of_generations',
        'num_of_evaluations', 
        'num_of_steps', 
        "sum(accs)",
        'cnt_any',
        'completion_tokens', 
        'prompt_tokens', 
        'cost'
    ]]
    return results_df

In [68]:
game24_results_df_bfs = calculate_results(game24_results_bfs)

game24_results_df_dfs = calculate_results(game24_results_dfs)

sudoku_results_df_bfs = calculate_results(sudoku_results_bfs)

sudoku_results_df_dfs = calculate_results(sudoku_results_dfs)

In [69]:
print("game24 BFS: ")
display(game24_results_df_bfs)
print("game24 DFS: ")
display(game24_results_df_dfs)
print("sudoku BFS: ")
display(sudoku_results_df_bfs)
print("sudoku DFS: ")
display(sudoku_results_df_dfs)

game24 BFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,900,19.169435,218.577358,237.756273,10,73,4,1,1,40607,25949,0.470942
1,901,15.908434,116.913925,132.829154,10,65,4,1,2,61906,43788,0.728530
2,902,16.541463,203.775437,220.397625,10,71,4,0,2,97132,68367,1.142238
3,903,15.891381,122.586523,138.507317,10,63,4,3,3,121346,86045,1.428573
4,904,21.412459,256.810851,278.235890,10,87,4,0,3,169585,112927,1.978168
5,905,18.756324,148.941584,167.705392,10,73,4,1,4,193978,132277,2.270472
6,906,17.567101,109.185390,126.758665,10,73,4,0,4,214988,148683,2.521587
7,907,14.828298,127.878560,142.714245,10,68,4,1,5,238730,166046,2.802415
8,908,13.543483,76.183673,89.745272,10,63,4,0,5,253263,177101,2.975383
9,909,21.791507,134.648719,156.444945,10,68,4,3,6,278173,196653,3.273363
10,910,21.261442,147.318177,168.590197,10,82,4,0,6,307256,214371,3.608487
11,911,16.134635,119.267997,135.409475,10,60,4,3,7,328236,230997,3.859853
12,912,21.151797,100.154285,121.447454,10,73,4,0,7,348135,243526,4.090165
13,913,14.224828,90.523584,104.752539,10,58,4,0,7,360697,253771,4.241397
14,914,17.756333,100.852786,118.623153,10,66,4,0,7,376619,265201,4.429193

game24 DFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,900,14.795482,42.254491,57.051499,15,15,4,0,0,3416,25582,0.017915
1,901,20.546261,41.919276,62.467192,18,18,4,0,0,7333,53882,0.037941
2,902,12.867640,25.424237,38.337074,8,8,4,1,1,9970,71019,0.050464
3,903,8.534215,26.132104,34.669357,9,9,4,1,2,12498,86544,0.062019
4,904,29.745538,63.228737,92.978777,19,19,4,0,2,20739,121799,0.092008
5,905,9.615753,25.673711,35.294998,10,10,4,0,2,23036,140048,0.104578
6,906,17.524487,44.162100,61.688397,18,18,4,0,2,26895,170129,0.125407
7,907,20.658715,62.259616,82.919600,18,18,4,0,2,32444,207283,0.152307
8,908,17.697683,44.150538,61.850353,18,18,4,0,2,36393,238565,0.173872
9,909,14.324925,43.219678,57.545834,16,16,4,0,2,39201,262234,0.189919
10,910,32.391433,64.093709,96.490248,22,22,4,0,2,45239,304210,0.219963
11,911,4.070873,13.299839,17.390940,4,4,4,1,3,47109,311833,0.226580
12,912,17.102389,37.023690,54.131327,17,17,4,0,3,50361,339994,0.245539
13,913,12.362211,29.411801,41.774807,13,13,4,0,3,52936,361156,0.259982
14,914,18.011981,40.883712,58.896937,15,15,4,0,3,56877,387830,0.279230

sudoku BFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,0,34.287573,92.545479,126.840389,16,62,6,3,1,14021,47384,0.258670
1,1,26.272192,82.198555,108.477617,16,54,6,3,2,24122,84825,0.453283
2,2,13.169880,22.875111,36.045449,10,22,4,3,3,27116,98749,0.518033
3,3,10.991992,18.187337,29.180353,10,22,4,3,4,29643,109051,0.569057
4,4,20.584021,62.564793,83.150321,13,38,5,3,5,37864,135142,0.716495
5,5,26.528521,63.177608,89.707470,16,50,6,3,6,46919,169255,0.892327
6,6,21.238158,42.543909,63.783316,13,36,5,3,7,52874,190946,1.006105
7,7,18.900558,28.708081,47.609310,13,35,5,3,8,57372,207652,1.092850
8,8,34.065244,90.446196,124.516089,19,73,7,3,9,69514,242004,1.300150
9,9,33.151959,89.838163,122.992779,19,77,7,3,10,81218,289850,1.536805
10,10,42.279744,132.495107,174.783111,19,77,7,3,11,98016,348513,1.851443
11,11,40.441431,134.132551,174.579955,22,89,8,3,12,116862,397477,2.162313
12,12,54.797412,219.985821,275.040842,22,92,8,3,13,143407,472687,2.615788
13,13,42.086945,135.861961,177.954314,22,91,8,3,14,162654,525785,2.941002
14,14,56.665803,149.735693,206.409189,25,144,9,3,15,184160,581774,3.296035

sudoku DFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,0,12.658469,32.817263,45.476744,6,6,6,1,1,5896,20536,0.110300
1,1,11.195590,31.051593,42.247602,6,6,6,1,2,11734,38575,0.213778
2,2,1.482440,4.467481,5.949987,1,1,4,0,2,12517,42088,0.230390
3,3,4.851834,11.652154,16.504286,4,4,4,1,3,14635,50644,0.272960
4,4,6.441679,21.731528,28.174498,5,5,5,1,4,18489,63533,0.343723
5,5,11.611382,43.066348,54.678922,6,6,6,1,5,26040,87341,0.478753
6,6,5.835526,21.767374,27.603231,5,5,5,1,6,29793,100241,0.548533
7,7,6.838835,18.526231,25.365506,5,5,5,1,7,33300,113966,0.617915
8,8,11.719504,46.254651,57.979130,7,7,7,1,8,41425,142111,0.769527
9,9,2.938969,17.651383,20.590529,2,2,7,0,8,43600,151566,0.814915
10,10,39.079845,121.788700,160.875496,19,19,7,1,9,65720,227590,1.226175
11,11,21.554612,75.718720,97.274697,8,8,8,1,10,80108,266609,1.467602
12,12,32.526456,127.135223,159.670891,18,18,8,1,11,102238,344088,1.882600
13,13,14.065663,67.660840,81.727239,8,8,8,1,12,115331,381489,2.107032
14,14,31.847158,135.827532,167.682466,19,19,9,1,13,137919,457424,2.522750

In [73]:
# Aggregation
runs = {
    "game24_bfs": game24_results_df_bfs, 
    "game24_dfs": game24_results_df_dfs, 
    "sudoku_bfs": sudoku_results_df_bfs, 
    "sudoku_dfs": sudoku_results_df_dfs, 
}
metrics_df_lst = []
for run_name, run_df in runs.items():
    metrics_df_lst.append(
        {
            "game": run_name.split("_")[0], 
            "search_method": run_name.split("_")[1], 
            "total_time": sum(run_df["total_time"]), 
            "total_num_of_examples": len(run_df), 
            #"avg_total_time": sum(run_df["total_time"]) / len(run_df), 
            "total_generate_time": sum(run_df["generate_time"]), 
            "total_num_of_generations": sum(run_df["num_of_generations"]), 
            #"avg_generate_time": sum(run_df["generate_time"]) / sum(run_df["num_of_generations"]), 
            "total_evaluate_time": sum(run_df["evaluate_time"]), 
            "total_num_of_evaluations": sum(run_df["num_of_evaluations"]), 
            #"avg_evaluate_time": sum(run_df["evaluate_time"]) / sum(run_df["num_of_evaluations"]), 
            #"total_num_of_steps": sum(run_df["num_of_steps"]), 
            #"avg_num_of_steps": sum(run_df["num_of_steps"]) / len(run_df), 
            "num_solved": len(run_df[run_df["sum(accs)"] != 0]), 
            "accuracy": len(run_df[run_df["sum(accs)"] != 0]) / len(run_df), 
            "completion_tokens": sum(run_df["completion_tokens"]), 
            "prompt_tokens": sum(run_df["prompt_tokens"]), 
            #"est_cost": sum(run_df["cost"]), 
        }
    )

metrics_df = pd.DataFrame(metrics_df_lst)

In [74]:
display(metrics_df)

,game,search_method,total_time,total_num_of_examples,total_generate_time,total_num_of_generations,total_evaluate_time,total_num_of_evaluations,num_solved,accuracy,completion_tokens,prompt_tokens
0,game24,bfs,2339.917595,15,265.938921,150,2073.618848,1043,7,0.466667,3390651,2365702
1,game24,dfs,853.487340,15,250.249587,220,603.137237,220,3,0.200000,464447,3082108
2,sudoku,bfs,1841.070503,15,475.461434,255,1365.296365,962,15,1.000000,1145762,3901094
3,sudoku,dfs,991.801223,15,214.647961,119,777.117020,119,13,0.866667,738745,2487801

In [75]:
metrics_df.to_csv("final_metrics_df.csv", index=False)