# COMSE6998_015 Project Results Analysis

In [1]:
import json

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:

# Reading the JSON file
game24_bfs = "logs/game24/gpt-4o_0.7_propose1_value3_greedy3_start900_end915_bfs.json"
game24_dfs = "logs/game24/gpt-4o_0.7_propose1_value3_greedy3_start900_end915_dfs.json"

sudoku_bfs = "logs/sudoku/gpt-4o_0.7_propose1_value3_greedy3_start0_end15_bfs.json"
sudoku_dfs = "logs/sudoku/gpt-4o_0.7_propose1_value3_greedy3_start0_end15_dfs.json"

with open(sudoku_bfs, "r") as file:
    sudoku_results_bfs = json.load(file)

with open(sudoku_dfs, "r") as file:
    sudoku_results_dfs = json.load(file)

with open(game24_bfs, "r") as file:
    game24_results_bfs = json.load(file)

with open(game24_dfs, "r") as file:
    game24_results_dfs = json.load(file)

In [49]:
def calculate_results(results):
    results_df = pd.DataFrame(results)
    results_df["completion_tokens"] = results_df["usage_so_far"].apply(lambda x: x["completion_tokens"])
    results_df["prompt_tokens"] = results_df["usage_so_far"].apply(lambda x: x["prompt_tokens"])
    results_df["cost"] = results_df["usage_so_far"].apply(lambda x: x["cost"])
    results_df.drop(["steps", "ys", "infos", "cnt_avg", "usage_so_far"], axis=1, inplace=True)
    results_df = results_df[[
        'idx', 
        'generate_time', 
        'evaluate_time', 
        'total_time', 
        'num_of_generations',
        'num_of_evaluations', 
        'num_of_steps', 
        "sum(accs)",
        'cnt_any',
        'completion_tokens', 
        'prompt_tokens', 
        'cost'
    ]]
    return results_df

In [50]:
game24_results_df_bfs = calculate_results(game24_results_bfs)

game24_results_df_dfs = calculate_results(game24_results_dfs)

sudoku_results_df_bfs = calculate_results(sudoku_results_bfs)

sudoku_results_df_dfs = calculate_results(sudoku_results_dfs)

In [51]:
print("game24 BFS: ")
display(game24_results_df_bfs)
print("game24 DFS: ")
display(game24_results_df_dfs)
print("sudoku BFS: ")
display(sudoku_results_df_bfs)
print("sudoku DFS: ")
display(sudoku_results_df_dfs)

game24 BFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,900,19.169435,218.577358,237.756273,10,73,4,1,1,40607,25949,0.470942
1,901,15.908434,116.913925,132.829154,10,65,4,1,2,61906,43788,0.728530
2,902,16.541463,203.775437,220.397625,10,71,4,0,2,97132,68367,1.142238
3,903,15.891381,122.586523,138.507317,10,63,4,3,3,121346,86045,1.428573
4,904,21.412459,256.810851,278.235890,10,87,4,0,3,169585,112927,1.978168
5,905,18.756324,148.941584,167.705392,10,73,4,1,4,193978,132277,2.270472
6,906,17.567101,109.185390,126.758665,10,73,4,0,4,214988,148683,2.521587
7,907,14.828298,127.878560,142.714245,10,68,4,1,5,238730,166046,2.802415
8,908,13.543483,76.183673,89.745272,10,63,4,0,5,253263,177101,2.975383
9,909,21.791507,134.648719,156.444945,10,68,4,3,6,278173,196653,3.273363
10,910,21.261442,147.318177,168.590197,10,82,4,0,6,307256,214371,3.608487
11,911,16.134635,119.267997,135.409475,10,60,4,3,7,328236,230997,3.859853
12,912,21.151797,100.154285,121.447454,10,73,4,0,7,348135,243526,4.090165
13,913,14.224828,90.523584,104.752539,10,58,4,0,7,360697,253771,4.241397
14,914,17.756333,100.852786,118.623153,10,66,4,0,7,376619,265201,4.429193

game24 DFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,900,14.736269,230.729098,245.475908,5,5,4,1,1,28776,18060,0.332910
1,901,12.919385,195.050378,207.972203,5,5,4,0,1,53047,36232,0.621050
2,902,11.330188,174.075631,185.406708,4,4,4,0,1,76795,52768,0.899870
3,903,3.960031,30.276348,34.236491,1,1,4,0,1,81303,55909,0.952802
4,904,27.081476,379.818571,406.902276,6,6,4,0,1,139691,89339,1.620258
5,905,10.568880,75.588732,86.158288,4,4,4,0,1,150667,100227,1.757238
6,906,5.696476,103.234608,108.933389,2,2,4,0,1,165249,109054,1.925125
7,907,5.354483,64.059361,69.417210,2,2,4,0,1,174816,116048,2.038280
8,908,20.727949,236.311644,257.068082,6,6,4,0,1,212574,142848,2.482860
9,909,8.130262,89.123193,97.255243,2,2,4,0,1,228072,152774,2.662655
10,910,13.582258,212.420029,226.018275,6,6,4,0,1,263323,175176,3.071170
11,911,14.922689,133.196737,148.121289,4,4,4,0,1,285034,191699,3.329588
12,912,7.368644,79.698045,87.067246,4,4,4,1,2,298174,201496,3.485480
13,913,8.949035,111.862086,120.812726,4,4,4,0,2,317097,218021,3.716023
14,914,12.310310,180.504164,192.815840,5,5,4,0,2,349329,236551,4.084668

sudoku BFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,0,34.287573,92.545479,126.840389,16,62,6,3,1,14021,47384,0.258670
1,1,26.272192,82.198555,108.477617,16,54,6,3,2,24122,84825,0.453283
2,2,13.169880,22.875111,36.045449,10,22,4,3,3,27116,98749,0.518033
3,3,10.991992,18.187337,29.180353,10,22,4,3,4,29643,109051,0.569057
4,4,20.584021,62.564793,83.150321,13,38,5,3,5,37864,135142,0.716495
5,5,26.528521,63.177608,89.707470,16,50,6,3,6,46919,169255,0.892327
6,6,21.238158,42.543909,63.783316,13,36,5,3,7,52874,190946,1.006105
7,7,18.900558,28.708081,47.609310,13,35,5,3,8,57372,207652,1.092850
8,8,34.065244,90.446196,124.516089,19,73,7,3,9,69514,242004,1.300150
9,9,33.151959,89.838163,122.992779,19,77,7,3,10,81218,289850,1.536805
10,10,42.279744,132.495107,174.783111,19,77,7,3,11,98016,348513,1.851443
11,11,40.441431,134.132551,174.579955,22,89,8,3,12,116862,397477,2.162313
12,12,54.797412,219.985821,275.040842,22,92,8,3,13,143407,472687,2.615788
13,13,42.086945,135.861961,177.954314,22,91,8,3,14,162654,525785,2.941002
14,14,56.665803,149.735693,206.409189,25,144,9,3,15,184160,581774,3.296035

sudoku DFS:

,idx,generate_time,evaluate_time,total_time,num_of_generations,num_of_evaluations,num_of_steps,sum(accs),cnt_any,completion_tokens,prompt_tokens,cost
0,0,20.434717,82.969761,103.406379,9,9,6,1,1,9624,35232,0.184320
1,1,11.422919,40.117447,51.541292,6,6,6,1,2,15745,53267,0.290617
2,2,4.782583,28.558540,33.341517,4,4,4,1,3,17791,61829,0.332483
3,3,5.760675,20.008544,25.769454,4,4,4,1,4,20002,71218,0.378065
4,4,9.195431,34.860509,44.056537,6,6,5,0,4,24707,86794,0.464055
5,5,12.738967,58.046105,70.785580,6,6,6,1,5,31464,109780,0.589090
6,6,9.081174,31.202776,40.284589,5,5,5,1,6,35741,122682,0.664115
7,7,9.829486,28.487220,38.317799,5,5,5,1,7,39408,135579,0.733027
8,8,15.921023,81.268130,97.190812,7,7,7,1,8,50071,164502,0.911965
9,9,10.156895,51.160468,61.318967,7,7,7,1,9,56218,188485,1.033393
10,10,27.486256,108.038896,135.526675,13,13,7,1,10,71964,239328,1.317960
11,11,14.366950,94.265345,108.634237,8,8,8,1,11,84628,274243,1.531887
12,12,22.404836,112.299766,134.706900,12,12,8,1,12,98737,321571,1.791298
13,13,19.471372,107.427128,126.902264,9,9,8,0,12,111617,363282,2.024375
14,14,38.831289,147.227926,186.064003,9,9,9,1,13,126886,409091,2.291588

In [ ]:
# Aggregation
runs = {
    "game24_bfs": game24_results_df_bfs, 
    "game24_dfs": game24_results_df_dfs, 
    "sudoku_bfs": sudoku_results_df_bfs, 
    "sudoku_dfs": sudoku_results_df_dfs, 
}
metrics_df_lst = []
for run_name, run_df in runs.items():
    metrics_df_lst.append(
        {
            "game": run_name.split("_")[0], 
            "search_method": run_name.split("_")[1], 
            "total_time": sum(run_df["total_time"]), 
            "total_num_of_examples": len(run_df), 
            "avg_total_time": sum(run_df["total_time"]) / len(run_df), 
            "total_generate_time": sum(run_df["generate_time"]), 
            "total_num_of_generations": sum(run_df["num_of_generations"]), 
            "avg_generate_time": sum(run_df["generate_time"]) / sum(run_df["num_of_generations"]), 
            "total_evaluate_time": sum(run_df["evaluate_time"]), 
            "total_num_of_evaluations": sum(run_df["num_of_evaluations"]), 
            "avg_evaluate_time": sum(run_df["evaluate_time"]) / sum(run_df["num_of_evaluations"]), 
            "total_num_of_steps": sum(run_df["num_of_steps"]), 
            "avg_num_of_steps": sum(run_df["num_of_steps"]) / len(run_df), 
            "num_solved": len(run_df[run_df["sum(accs)"] != 0]), 
            "accuracy": len(run_df[run_df["sum(accs)"] != 0]) / len(run_df), 
            "completion_tokens": sum(run_df["completion_tokens"]), 
            "prompt_tokens": sum(run_df["prompt_tokens"]), 
            "est_cost": sum(run_df["cost"]), 
        }
    )

metrics_df = pd.DataFrame(metrics_df_lst)

In [ ]:
display(metrics_df)

,game,search_method,total_time,total_num_of_examples,avg_total_time,total_generate_time,total_num_of_generations,avg_generate_time,total_evaluate_time,total_num_of_evaluations,avg_evaluate_time,total_num_of_steps,avg_num_of_steps,num_solved,accuracy,completion_tokens,prompt_tokens,cost
0,game24,bfs,2339.917595,15,155.994506,265.938921,150,1.772926,2073.618848,1043,1.988129,60,4.000000,7,0.466667,3390651,2365702,39.820765
1,game24,dfs,2473.661174,15,164.910745,177.638335,60,2.960639,2295.948627,60,38.265810,60,4.000000,2,0.133333,2823947,1896202,32.979975
2,sudoku,bfs,1841.070503,15,122.738034,475.461434,255,1.864555,1365.296365,962,1.419227,95,6.333333,15,1.000000,1145762,3901094,21.210355
3,sudoku,dfs,1257.847003,15,83.856467,231.884574,110,2.108042,1025.938560,110,9.326714,95,6.333333,13,0.866667,794603,2636883,14.538238